<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='./styles.css')}}">

    <title>CS 340 - Issued Certifications</title>
  </head>
  <body>

    <div class="container-fluid bg-secondary w-75 pt-2 opacity">
        <!-- navigation -->
        <div class="row ">
            <div class="col d-flex justify-content-center">

                <div class="nav">
                  <a class="nav-link text-warning h4" href="./index">Home</a>
                  <a class="nav-link text-warning h4" href="./parks">Parks</a>
                  <a class="nav-link text-warning h4" href="./rollercoasters">Rollercoasters</a>                  
                  <a class="nav-link text-warning h4" id="current-page" href="./issued-certifications">Issued Certifications</a>                                    
                  <a class="nav-link text-warning h4" href="./employees">Employees</a>
                  <a class="nav-link text-warning h4" href="./certificates">Certificates</a>
                  </div>

            </div>
        </div>
        <!-- main image -->
        <div class="row mt-2">
            <div class="col d-flex justify-content-center">
              <a href="./index.html">
                <img src="./../static/tempting-fate-header.jpg" class="img-fluid" alt="Tempting Fate Amusement Park Company Picnic 2022">
              </a>
            </div>
        </div>

        <!---------------------------------------------------------------
        # POPULATE TABLE
        # Citation for the following methods:
        # Date: 5/15/2022
        # Copied/adapted from:
        # Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2
        # -------------------------------------------------------------- -->
        <div class="row">
          <div class="col d-flex flex-column">
            
            <h1 class="h1 text-warning mx-auto mt-5">Issued Certifications</h1>
            <div class="mx-auto m-4">
              <table class="text-warning">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
              <th>Issued Cert ID</th>
              <th>Issued Cert Type</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Cert Earned Date</th>
              <th>Cert Expiration Date</th>
            </tr>
            
				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                <!-- Create our edit/delete buttons -->
						    <!-- <td><a href="edit_issued_cert{{item.id}}" class="btn btn-default">Edit</a></td> -->
						    <td><a href="delete_issued_cert/{{item.issued_cert_id}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
              </table>
          </div>            

            <!-- CRUD functions-->
            <div id="accordion">
                
<!---------------------------------------------------------------
# ADD Issued Certification
# Citation for the following methods:
# Date: 5/15/2022
# Adapted from:
# Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2
# -------------------------------------------------------------- -->
<div class="card w-50 mx-auto bg-warning">
  <div class="card-header" id="headingOne">
    <h5 class="mb-0">                        
      <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      Add Issued Certification
      </button>
    </h5>
</div>
              
<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
  <div class="card-body">
      <form action="/issued-certifications" method="post">
          <fieldset>
            <label for="cert_id">Certification ID
              <select class="form-control" id="cert_id" name="cert_id" placeholder="" required>
                <option default>- Select -</option>                                    
                {% for cert in cert_data %}
                <option value = {{cert.cert_id}}>{{cert['type']}}</option>
                {% endfor %}                                        
              </select>
            </label>
            <label for="employee_id">Employee ID
              <select class="form-control" id="employee_id" name="employee_id" placeholder="" required>
                <option default>- Select -</option>                                    
                {% for employee in employee_data %}
                <option value = {{employee.employee_id}}>{{employee['first_name']}}</option>
                {% endfor %}                                        
              </select>
            </label>
              <label for="cert_earned_date">Certification Earned Date
                  <input type="date" class="form-control" id="cert_earned_date" name="cert_earned_date" placeholder="" required>
              </label>
              <label for="cert_expiration_date">Certification Expiration Date
                  <input type="date" class="form-control" id="cert_expiration_date" name="cert_expiration_date" placeholder="" required>
              </label>                                              
              <br>
              <input type="submit" value="Add Certification" name="add_issued_cert"> 
          </fieldset>                            
      </form>
</div>
  </div>
</div>

                <!---------------------------------------------------------------
                # UPDATE Issued Certification 
                # Citation for the following methods:
                # Date: 5/17/2022
                # Adapted from:
                # Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2
                # -------------------------------------------------------------- -->
                <!-- UPDATE start
                   <div class="card w-50 mx-auto bg-warning">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed text-dark" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Update Issued Certification
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      
                      
                      
                      <form action="/edit_issued_cert" method="post">
                        <fieldset>
                          <label for="issued_cert_id">Certification ID
                            <select class="form-control" id="issued_cert_id" name="issued_cert_id" placeholder="" required>
                              <option default>- Select -</option>                                    
                              {% for data in data %}
                              <option value = {{data.issued_cert_id}}>{{data['issued_cert_id']}}</option>
                              {% endfor %}                                        
                            </select>
                          </label>
                          <label for="cert_id">Certification ID
                            <select class="form-control" id="cert_id" name="cert_id" placeholder="" required>
                              <option default>- Select -</option>                                    
                              {% for cert in cert_data %}
                              <option value = {{cert.cert_id}}>{{cert['type']}}</option>
                              {% endfor %}                                        
                            </select>
                          </label>
                          <label for="employee_id">Employee ID
                            <select class="form-control" id="employee_id" name="employee_id" placeholder="" required>
                              <option default>- Select -</option>                                    
                              {% for employee in employee_data %}
                              <option value = {{employee.employee_id}}>{{employee['first_name']}}</option>
                              {% endfor %}                                        
                            </select>
                          </label>
                          <label for="cert_earned_date">Certification Earned Date
                            <input type="date" class="form-control" id="cert_earned_date" name="cert_earned_date" placeholder="" required>
                          </label>
                          <label for="cert_expiration_date">Certification Expiration Date
                            <input type="date" class="form-control" id="cert_expiration_date" name="cert_expiration_date" placeholder="" required>
                          </label>                                                
                            <br>
                            <input type="submit" value="Update Issued Cert" name="edit_issued_cert"> 
                        </fieldset>                            
                    </form>
                  
                    </div>
                  </div>
                </div>                   
              </div> UPDATE end --------- -->
              <!-- end accordian -->

            <div class="row my-3">
                <div class="col d-flex justify-content-center">
                    
                    <p class="text-warning">Copyright &copy; Glen Godby and Steven Love</p>


                </div>
            </div>

          </div>
        </div>



    </div><!-- container end-->





    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
  </body>
</html>
